# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build output
dist/
dist-ssr/
build/
out/

# Firebase
.firebase/
.firebase.json
.firebaserc
firebase-debug.log*
firebase-debug.*
firebase.json
firebaserc
storage.rules
firestore.indexes.json
firestore.rules

# Env files
*.local
.env
.env.*
.cert
cert/
*.pem
*.crt
*.key

# Rust (for Tauri)
src-tauri/gen/
src-tauri/target/

# Temp files
*.tmp
*.sw?
*.swo
*.swn

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

py.py
start.txt